h1 {
    text-align: center;
    border: dotted white;
    background-color: red;
    color: white;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    
}
.cart {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
     border: dotted white;
    background-color: red;
    color: white;
}
h3 {
     margin-bottom: 5px;
     border: dotted white;
    background-color: red;
    color: white;
    padding:20px;
}
.flex-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
